#central {
    width: 30rem;
    height: 30rem;
    background-image: radial-gradient(circle, blue, green, orange, pink);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 200%;
}

html {
    font-size: 10px;
}

#central a {
    width: 30rem;
    height: 30rem;
    display: block;
}


#central a:hover {
    outline: pink, double, 15px;
}
