/* Unordered Bulleted List */
ul {
    padding-left: 2rem;
    list-style-type: none;
}

ul li {
    padding-left: 2rem;
    background-image: url(images/flower.svg);
    background-position: 0 0;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

/* Links */
a {
    outline: none;
    border: solid;
    border-color: black;
    border-radius: 30px;
    padding: 10px 5px 10px 5px;
}

a:link {
    color: black;
    background-color:#efb4be;
    text-decoration: none;
}

a:visited {
    color: rgb(78, 113, 78);
    background-color:#e8d3b6;
    text-decoration: none;
}

a:focus {
    color: rgb(36, 36, 105);
    background-color: lightseagreen;
    text-decoration: underline;
}

a:hover {
    color:rgb(142, 234, 171);
    background-color: rgb(55, 138, 121);
    text-decoration: underline dotted;
    text-decoration-color: #000000;
}

a:active {
    background-color: #d2b48c;
    color: #664229;
    text-decoration: underline wavy;
}

/* Fonts */
@font-face {
    font-family: "quicksandbold";
    src: url(quicksand/Quicksand-BoldItalic.otf);
}

#quicksand {
    font-family: quicksandbold;
}