/* Unordered Bulleted List */
ul {
    padding-left: 2rem;
    list-style-type: none;
}

ul li {
    padding-left: 2rem;
    background-image: url(images/flower.svg);
    background-position: 0 0;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

/* Links */
a {
    border: solid;
    border-color: black;
    border-radius: 30px;
    padding: 10px 5px 10px 5px;
    padding-block-start: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:link {
    color: black;
    background-color:rgb(239, 180, 190);
    text-decoration: none;
}

a:visited {
    color: rgb(78, 113, 78);
    background-color:#d2b48c;
    text-decoration: none;
}

a:focus {
    color: lightseagreen;
    background-color: white;
    text-decoration: none;
}

a:hover {
    color:rgb(78, 113, 78);
    background-color: rgb(179, 182, 137);
    text-decoration: dotted;
    text-decoration-color: #c38fc7;
}

a:active {
    background-color: #d2b48c;
    color: #664229;
    text-decoration: none;
}